*
{
	box-sizing: border-box;
}

.main-logo
{
	content:url('../images/Wordably-logo2.png');
	width:30vw;
	margin:auto;
	margin-top:20vh;
	position:relative;
	
}

.container
{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #c8d0dc;
	overflow: auto;
	
}

.secondary-container
{
	background-color: #fbf8f3;
	width: 80vw;
	max-width: 80vw;
	height: 50vh;
	max-height: 50vh;
	position: relative;
	margin:auto;
	margin-top:5vh;
	margin-bottom:20vh;
	box-sizing: border-box;
}

#secondary-container-content
{
	position: relative;
	width:inherit;
	height:auto;
	min-height:75%;
	padding:10%;
	top:25%;
	background-color:white;  /* remove background color after finish editing */
}
	


